body {
    font-family: Arial, sans-serif;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .animal {
    display: flex;
    margin-bottom: 20px;
  }
  .animal-image {
    width: 200px;
    margin-right: 20px;
  }
  .animal-image img {
    width: 100%;
  }
  .animal-info {
    flex: 1;
  }
  .botao {
		display: inline-block;
		padding: 10px 20px;
		background-color:#8d8d8d;
		color: white;
		text-decoration: none;
		border-radius: 5px;
	  }
	  
	  .botao:hover {
		background-color: #0080cc;